@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
  margin: 0px;
  box-sizing: border-box;
  font-family: 'Karla', sans-serif;

}

.conf {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 69px;
  width: 340px;
  height: 464px;
}

.game-container {
  display: flex;
  justify-content: center;
  margin-top: 69px;
  margin-bottom: 69px;
}



.outer-frame {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 360px;
  height: 464px;
  background-color: #0B2434;

}


.inner-frame {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 320px;
  height: 425px;
  background-color: #F5F5F5;
  border-radius: 10px;
}

.title {
  font-weight: 700;
  font-size: 25.6px;
  line-height: 30px;
  text-align: center;
  letter-spacing: -0.03em;
}

.title-paragraph {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 13.11px;
  line-height: 16px;
  text-align: center;
  width: 233px;
  letter-spacing: -0.03em;
}

.die {
  display: flex;
  margin-top: 23.1px;
  width: 36px;
  height: 36px;
  font-weight: 700;
  font-size: 20.6px;
  line-height: 24px;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: white;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
  border-radius: 3.81277px;
}

.roll-button {
  margin-top: 25px;
  font-weight: 700;
  font-size: 16.39px;
  line-height: 19px;
  text-align: center;
  width: 100px;
  height: 50px;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  background: #5035FF;
  border: none;
  box-shadow: 0px 3.2px 7.68px rgba(0, 0, 0, 0.18);
  border-radius: 3.8px;
  cursor: pointer;
}

.showinfo-container {
  display: flex;
  margin-top: 30px;
  gap: 50px;
}

.time-span,
.roll-span {
  font-weight: 800;
}

.best-container {
  margin-top: 25px;
  display: flex;
  gap: 50px;
}

.best-time {
  font-weight: 800;
  background-color: yellow;
  padding: 3px;
  border: 2px solid black;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
}

.best-roll {
  font-weight: 800;
  background-color: yellow;
  padding: 3px;
  border: 2px solid black;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
}


.roll-button:active {
  box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}

.die-container {
  display: grid;
  grid-template: auto auto / repeat(5, 1fr);
  gap: 18px;
  grid-row-gap: 0px;
}

.toggle-button {
  margin-top: 15px;
  display: inline-flex;
  width: 15px;
  height: 15px;
}

.toggle-button-down {
  margin-top: 15px;
  display: inline-flex;
  width: 15px;
  height: 15px;
  box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}

.toggle-button:active {
  box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}